<style>
	[v-cloak]{
		display: none;
	}
	.wadah-tabel {
		max-width: 100%;
		overflow: auto;
	}
</style>
<!--<script src="/lib/petite-vue.iife.js"></script>-->
<script src="https://unpkg.com/petite-vue@0.4.0/dist/petite-vue.iife.js"></script>
<div class="app" v-cloak="" v-on:vue:mounted="dapatkan">
	<p>Medali Emas (25 hari): {{ emas.toLocaleString('id') }}</p> <!--25-31-->
	<p>Medali Perak (15 hari): {{ perak.toLocaleString('id') }}</p> <!--15-24-->
	<p>Medali Perunggu (8 hari): {{ perunggu.toLocaleString('id') }}</p> <!--8-14-->
	<p>Tanpa Medali: {{ tanpaMedali.toLocaleString('id') }}</p> <!--<8-->
	<hr />
	<p>Jumlah Setoran yang Masuk: {{ masuk.toLocaleString('id') }}</p>
	<p>Jumlah Setoran yang Dihitung: {{ dihitung.toLocaleString('id') }}</p>
	<hr />
	<p>Google Docs: {{ googleDocs.toLocaleString('id') }}</p>
	<p>Instagram: {{ instagram.toLocaleString('id') }}</p>
	<p>Facebook: {{ facebook.toLocaleString('id') }}</p>
	<p>Blog: {{ blog.toLocaleString('id') }}</p>
    <p>UGC: {{ ugc.toLocaleString('id') }}</p>
	<hr />
	<p>Jumlah Kata: {{ jumlahKata.toLocaleString('id') }}</p>
	<p>
		Jumlah Kata per Setoran: 
		<span v-if="jumlahKata">{{ (jumlahKata / dihitung).toLocaleString('id').replace(/,.+/, '') }}</span>
		<span v-else="">0</span>
	</p>
	<div class="wadah-tabel">
		<!--otomatis--><!--otomatis--><!--nama, jumlahSetoran, jumlahKata--><table>
			<thead>
				<tr>
					<th>No</th>
					<th>Nama</th>
					<th>Jumlah Setoran</th>
					<th>Jumlah Kata</th>
					<th>Rata-Rata Kata per Setoran</th> 
					<th>Medali</th> 
				</tr>
			</thead>
			<tbody>
				
				<tr v-for="(x, n) in rekap">
					<td>{{ n + 1 }}</td>
					<td>{{ x.nama }}</td>
					<td>{{ x.jumlahSetoran }}</td>
					<td>{{ x.jumlahKata.toLocaleString('id') }}</td>
					<td>{{ (x.jumlahKata / x.jumlahSetoran).toLocaleString('id').replace(/,.+/, '') }}</td>
					<td>
						<span v-if="x.jumlahSetoran &gt;= 25 &amp;&amp; x.jumlahSetoran &lt;= 31">Emas</span>
						<span v-else-if="x.jumlahSetoran &gt;= 15 &amp;&amp; x.jumlahSetoran &lt;= 24">Perak</span>
						<span v-else-if="x.jumlahSetoran &gt;= 8 &amp;&amp; x.jumlahSetoran &lt;= 14">Perunggu</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<script>
	PetiteVue.createApp({
		tes: '',
		masuk: 0,
		dihitung: 0,
		emas: 0,
		perak: 0,
		perunggu: 0,
		tanpaMedali: 0,
		googleDocs: 0,
		instagram: 0,
		facebook: 0,
		blog: 0,
        ugc: 0,
		jumlahKata: 0,
		rekap: [],
		async dapatkan(){
			// let datanya = await fetch('/lib/data.json')
			let datanya = await fetch('https://sheets.googleapis.com/v4/spreadsheets/18H4E2we8XWUB4d-SUSpkllunVKSyKlgeOM4-PZJaSyw/values/Form%20Responses%201?key=AIzaSyAbtHcMPVjDFVRxQyx1pVwl6BIuSEEdRZY')
			datanya = await datanya.json()

			let nilainya = datanya.values.filter((a, n) => n != 0)
            console.log('NILAINYA')
            console.log(nilainya)
			this.masuk = nilainya.length

			let dataRapi = []
			for (let x of nilainya){
				let [tanggal, nama, media, linkLawas, jumlahKata, link] = x
				dataRapi = [...dataRapi, {
					tanggal, 
					tanggalnyaAja: tanggal.replace(/\s.+/, ''),
					nama, media, link, jumlahKata
				}]
			}
          	console.log('DATA RAPI')
          	console.log(dataRapi)
			dataRapi = dataRapi.filter(x => +x.jumlahKata >= 300)
          	console.log(dataRapi)
			dataRapi = dataRapi.sort((a, b) => a.nama > b.nama ? 1 : -1)
          	console.log(dataRapi)

			// data filter = data final yang sudah rapi dalam format json
			let dataFilter = []
			for (let n in dataRapi){
              	console.log(n)
				if (n == 0){
					dataFilter = [...dataFilter, dataRapi[n]]
				} else {
					if (dataRapi[n].tanggalnyaAja != dataRapi[n-1].tanggalnyaAja){
                      	dataFilter = [...dataFilter, dataRapi[n]]
					} else { // tanggalnya sama
                     	if (dataRapi[n].nama != dataRapi[n-1].nama){
                        	dataFilter = [...dataFilter, dataRapi[n]]
                        }
                    }
				}
			}
          	console.log('DATA FILTER')
          	console.log(dataFilter)
			this.dihitung = dataFilter.length

			for (let x of dataFilter){
				this.jumlahKata += +x.jumlahKata

				if (x.media == 'Google Docs'){
					this.googleDocs++
				} else if (x.media == 'Instagram'){
					this.instagram++
				} else if (x.media == 'Facebook'){
					this.facebook++
				} else if (x.media == 'Blog'){
					this.blog++
				} else if (x.media == 'UGC'){
					this.ugc++
				}
			}

			// nama, jumlahSetoran, jumlahKata
			let semuaNama = []
			dataFilter.forEach(x => semuaNama = [...semuaNama, x.nama])
			semuaNama = [...new Set(semuaNama)]

			let dataRekap = []
			for (let x of semuaNama){
				let terfilter = dataFilter.filter(z => z.nama == x)

				let jumlahKata = 0
				for (let y of terfilter){
					jumlahKata += +y.jumlahKata
				}

				dataRekap = [...dataRekap, {
					nama: x,
					jumlahSetoran: terfilter.length,
					jumlahKata
				}]
			}
			this.rekap = dataRekap

			for (let x of dataRekap){
				if (x.jumlahSetoran >= 25 && x.jumlahSetoran <= 31){
					this.emas++
				}
				if (x.jumlahSetoran >= 15 && x.jumlahSetoran <= 24){
					this.perak++
				}
				if (x.jumlahSetoran >= 8 && x.jumlahSetoran <= 14){
					this.perunggu++
				}
				if (x.jumlahSetoran < 8){
					this.tanpaMedali++
				}
			}
		}
	}).mount('.app')
</script>