---
// @ts-ignore
import pluang from "../gambar/pluang.jpeg";
// @ts-ignore
import domainesia from "../gambar/banner-3.svg";

const { classnya } = Astro.props;
---

<div class={"p-2  " + classnya}>
  <img src={pluang} class="block mb-3" alt="Banner Pluang" />

  <a href="https://my.domainesia.com/ref.php?u=8297" class="sticky top-[60px]"
    ><img
      src={domainesia}
      width="160px"
      height="600px"
      alt="www.domainesia.com"
    /></a
  >
</div>

<style>
  img {
    @apply block mx-auto;
  }
</style>
