---
// @ts-ignore
import pluang from "../gambar/pluang.jpeg";
// @ts-ignore
import domainesia from "../gambar/banner-3.svg";

const { classnya } = Astro.props;
---

<img src={pluang} alt="Banner Pluang" width="500" height="896" />

<div class="p-2 mediabacklink">
  <p>
    Jangan biarkan pesaing Anda mengalahkan Anda di mesin pencari. Kunjungi
    media backlink sekarang dan dapatkan backlink berkualitas tinggi dengan
    harga yang terjangkau. Klik link di bawah ini untuk mulai membangun backlink
    berkualitas yang dapat membawa website Anda ke puncak peringkat mesin
    pencari.
  </p>
  <p>
    <a class="underline" href="https://www.mediabacklink.com/r8d4lso5"
      >https://www.mediabacklink.com/r8d4lso5</a
    >
  </p>
</div>

<a href="https://my.domainesia.com/ref.php?u=8297" rel="nofollow"
  ><img
    src={domainesia}
    width="160px"
    height="600px"
    alt="www.domainesia.com"
  /></a
>

<style>
  img {
    @apply block mx-auto;
  }
  .mediabacklink > * {
    @apply mb-2 last:mb-0;
  }
</style>

<style is:global>
  * {
    word-wrap: break-word;
  }
</style>
