---
// @ts-ignore
import pluang from "../gambar/pluang.jpeg";
// @ts-ignore
import domainesia from "../gambar/banner-3.svg";
---

<div class="p-2 grid grid-cols-1 gap-2">
  <img src={pluang} alt="" />

  <a class="sticky top-2" href="https://my.domainesia.com/ref.php?u=8297"
    ><img
      src={domainesia}
      width="160px"
      height="600px"
      alt="www.domainesia.com"
    /></a
  >
</div>

<style>
  img {
    @apply block mx-auto;
  }
</style>
