---
import Cari from "../icon/cari.astro";
import Nama from "../data/nama";
import Head from "../include/head.astro";
import KomponenCari from "../komponen/cari.svelte";
import DesainBaru from "../template/desain-baru.astro";
---

<DesainBaru judul="Hasil Pencarian" deskripsi="Halaman pencarian">
  <KomponenCari client:only />
</DesainBaru>

<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <Head />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hasil Pencarian</title>
  </head>
  <body>
    <div
      class="bg-black text-white font-bold uppercase flex justify-between sticky top-0"
    >
      <a href="/" class="p-3 inline-block">{Nama}</a>
      <div
        class="p-3 -mt-1 pr-2 pb-0 inline-block cursor-pointer tombol-cari-post"
      >
        <Cari />
      </div>
    </div>
    <KomponenCari client:only />
    <script is:inline>
      const tombolCari = document.querySelector(".tombol-cari-post");
      tombolCari.addEventListener("click", () => {
        const input = prompt("Cari apa?");
        if (input) {
          window.location.href = `/cari?${encodeURIComponent(input)}`;
        }
      });
    </script>
  </body>
</html> -->
